In [2]:
import numpy as np 
import pandas as pd

#### Feature Description

    X1 Relative Compactness
    X2 Surface Area
    X3 Wall Area
    X4 Roof Area
    X5 Overall Height
    X6 Orientation
    X7 Glazing Area
    X8 Glazing Area Distribution
    y1 Heating Load
    y2 Cooling Load

#### Exercise on Linear Regression
<b> 1) Read the dataset<br>

In [4]:
df=pd.read_excel('heat_load.xlsx')

In [5]:
df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

<b>2) Handle null values (if any).<br>

In [6]:
df.isnull().sum()

X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X7    0
X8    0
Y1    0
Y2    0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

<b>3) Based on features from X1-X8 predict Heating load(y1) and Cooling Load(y2) as per the following requirements<br>
a) Split the data into training and test set with test_size as 25% of whole data<br>

In [16]:
x=df.iloc[:,:-2]
y1=df['Y1']
y2=df['Y2']

In [18]:
x.head()
#y1.head()
#y2.head()

     X1     X2     X3      X4   X5  X6   X7  X8
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0

In [24]:
x_train,x_test,y1_train,y1_test=train_test_split(x,y1,test_size=0.25,random_state=15)
# prints random data
print(x_train.shape)
print(x_test.shape)
print(y1_train.shape)
print(y1_test.shape)

(576, 8)
(192, 8)
(576,)
(192,)

In [25]:
x_train.head()

       X1     X2     X3      X4   X5  X6    X7  X8
548  0.76  661.5  416.5  122.50  7.0   2  0.40   1
161  0.79  637.0  343.0  147.00  7.0   3  0.10   3
233  0.64  784.0  343.0  220.50  3.5   3  0.10   4
289  0.98  514.5  294.0  110.25  7.0   3  0.25   1
763  0.64  784.0  343.0  220.50  3.5   5  0.40   5

In [26]:
x_train,x_test,y2_train,y2_test=train_test_split(x,y2,test_size=0.25,random_state=15)
# prints random data
print(x_train.shape)
print(x_test.shape)
print(y2_train.shape)
print(y2_test.shape)

(576, 8)
(192, 8)
(576,)
(192,)

In [27]:
x_train.head()

       X1     X2     X3      X4   X5  X6    X7  X8
548  0.76  661.5  416.5  122.50  7.0   2  0.40   1
161  0.79  637.0  343.0  147.00  7.0   3  0.10   3
233  0.64  784.0  343.0  220.50  3.5   3  0.10   4
289  0.98  514.5  294.0  110.25  7.0   3  0.25   1
763  0.64  784.0  343.0  220.50  3.5   5  0.40   5

<b>b) Generate predictions for Heating load (y1) through predict function. <br>

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
model1=LinearRegression()
model1.fit(x_train,y1_train)

LinearRegression()

In [38]:
ypred1=model1.predict(x_test)
print('ypred1',ypred1)

ypred1 [30.42290797 32.98377532  7.63189927 29.06539992 40.48841337  7.83612147
 14.75900485 35.97486562 28.42827681 10.68630058 31.07423372 16.29086849
 33.00453486  9.93145224  9.11737147 25.37106747 39.53724847 16.18897854
 13.80666253 26.0580839  35.63636731 35.16078486 11.55841233 27.88555631
 28.04709696 14.95411998 18.61837985 15.43039629  9.25164758 32.84669117
 33.75147757 16.01950823 30.13078817 34.22584567  9.18450953 32.30779771
 12.18341233 39.87855481 16.99814798 14.14516083 27.61419605 13.87380058
 37.63542623 34.63429007 12.69093863 31.64702681 33.05474042 10.89052278
 34.58102492 32.11980123 35.29506097 17.94138323 28.52267941  8.91314927
  8.62366824 18.49643714 29.39048055 36.17908782 18.76779739 31.09843871
 12.30604889 27.23423055 28.22405461 32.09974847 35.70350537 18.36216103
 32.37110872 15.02125803 13.06463114 35.10706448  9.16126713 14.28342239
 28.56255292 36.48284716 32.37774381 14.34938303  9.38873173 30.06747717
 13.09938303 15.83603265 26.73788856 40.01283092 30.83294605 12.78163134
 25.64995176 22.56547787 12.57740914  9.78626713 36.24622587 11.56634198
 27.0971464  14.41139947 15.30775973 15.49753434 11.09474498 16.15378434
 36.95842961 30.49285406  8.17461978 15.4268944  27.43564471 28.79403967
 27.50559081 32.78338017 28.91107105 18.42929909 12.51027109 29.32053446
 34.02162347 26.99052732  9.22840518 11.69549647 34.56434397 30.13461522
 33.81861562 28.72690161 16.12184049 36.68706936  8.58025614 18.27988154
 15.15903603 17.94650485 11.63746549 13.57496549 12.44313303 12.04913622
 33.13881097 14.9592416  16.92820189 17.81222874 23.66093871 25.9238078
 10.61916253 32.92046431 17.87143714 27.03000835 11.43324329 26.9628703
 36.75420741 12.62380058 11.83770224 28.08697047 34.97278837 34.22425198
 33.27589511 30.06365012 30.93995761 30.76421431 31.82117643 33.34303317
 15.36325823  9.70367538 14.82053773  8.8516164  32.10638355 28.9782091
 15.6311166  17.80429909 37.50115012 32.64910406 19.03915765 37.22978987
 30.89849042 12.03399478 11.16188303 34.30966467 33.18518948 15.17067558
 26.85625121 10.55202447 32.57533092 16.35800654 14.01088473 36.89129156
 31.03436021 29.79228987 36.31336393 17.60800654 17.67002298 29.59189471
 12.79327089  9.29554324 28.01983241 10.75343863  6.58314213 31.71416487
 25.03256916 28.76677512 10.75226122 14.01206214 34.29298372 34.83570423]

<b>c) Generate model coefficients and intercept. <br>

In [39]:
m=model1.coef_
c=model1.intercept_
print('Coefficient or Slope:',m)
print('Intercept or Constant:',c)

Coefficient or Slope: [-6.33829616e+01 -2.09382124e+11  2.09382124e+11  4.18764249e+11
  4.17624545e+00  6.71380535e-02  1.99150884e+01  2.71360254e-01]
Intercept or Constant: 81.42575694444444

<b>d) Generate predictions for Heating load (y1) using the equation of Linear Regression<br>

In [33]:
x.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8'], dtype='object')

In [34]:
df['ypred1_eqn']=df['X1']*m[0]+df['X2']*m[1]+df['X3']*m[2]+df['X4']*m[3]+df['X5']*m[4]+df['X6']*m[5]+df['X7']*m[6]+df['X8']*m[7]+c
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2  ypred1_eqn
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33   22.364064
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33   22.431202
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33   22.498340
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33   22.565478
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28   24.700001

<b>e) Compute MSE,RMSE, MAE, R2_score for the model generated.<br>

In [35]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [37]:
mse1=mean_squared_error(y1_test,ypred1)
mae1=mean_absolute_error(y1_test,ypred1)
rmse1=np.sqrt(mean_squared_error(y1_test,ypred1))
r2_1=r2_score(y1_test,ypred1)
print('mse',mse1)
print('mae',mae1)
print('rmse',rmse1)
print('r2_score',r2_1)
print('Model_Score',model1.score(x_test,y1_test))

mse 9.721652583785923
mae 2.287882629857191
rmse 3.1179564756080103
r2_score 0.9085478469733865
Model_Score 0.9085478469733865

<b>f) Generate predictions for Cooling load (y2) through predict function. <br>

In [40]:
model2=LinearRegression()
model2.fit(x_train,y2_train)

LinearRegression()

In [41]:
ypred2=model2.predict(x_test)
print('ypred2',ypred2)

ypred2 [32.20775972 33.57379522 11.94013043 31.26790478 40.09756121 11.8886552
 17.12054435 36.43777046 29.59276201 14.35154513 32.10712718 17.99134662
 33.9193357  13.35240246 12.9433427  27.79630801 39.92780517 17.77944216
 16.57777914 28.95686677 36.11358872 36.0287107  14.87014642 29.3200555
 30.91032025 16.99078216 19.86273185 17.71469686 13.31899967 33.81309895
 34.14056697 17.85499337 31.72586599 35.30601744 13.13117118 34.18078146
 15.19827142 39.63702622 18.74989011 16.90196088 29.18370225 16.76560763
 38.24963198 35.20306697 15.92218612 32.97948076 34.40201274 14.30006989
 35.83821728 33.67931948 36.40436767 19.21436837 30.99519827 12.99481793
 12.92327736 19.96962558 31.53006304 36.38629522 20.10597883 33.29840323
 15.73041437 29.42068804 29.64423724 33.59186767 36.3014172  19.5939686
 33.72822093 17.17861065 15.79515967 35.90290569 12.87574538 17.03566633
 29.96841899 37.51639047 33.75364925 16.85048565 13.07969595 32.17842653
 15.81923565 18.22670709 28.99026955 40.01268319 32.570421   15.81529239
 28.91591922 25.90485744 15.86676762 13.20387038 36.57412371 14.5754242
 29.65999177 16.71807565 17.1825539  17.90252535 14.24859466 18.23065035
 37.60126849 31.78062751 12.21283694 17.69062088 29.98417351 31.13155153
 29.5570413  34.26565948 30.804796   19.78179709 15.67893914 31.95719525
 35.35749267 30.1506227  13.06357387 14.6308427  35.63019918 32.36625502
 34.32839546 30.94372304 17.59161367 37.46491524 12.72484717 19.53855011
 17.5783436  19.53460685 14.52130117 15.90411367 15.49111065 14.82261444
 34.29499267 17.31102064 19.17702233 19.15894988 26.96246573 28.58120979
 14.16371664 34.02635576 19.64150058 29.47216328 14.5727764  29.28433479
 37.65274373 15.73435763 14.71177746 29.88354097 35.52724871 34.84040569
 34.05568895 31.5380375  31.7314702  31.91698076 32.32835845 34.24351744
 17.52686837 13.69859991 17.25416186 12.86120042 33.617296   30.99262449
 17.63914564 19.45367209 37.873975   33.89000251 20.24233209 37.73762175
 32.29263774 14.95502444 14.43642315 35.70186403 34.13728069 17.42185763
 29.77496573 13.97588815 33.67674569 18.17917511 16.5263039  37.41344001
 33.13390646 31.40168425 36.7619522  19.21042511 19.07801511 32.09354851
 15.65880642 13.25140236 29.69571248 14.53937362 11.18824538 33.16730925
 27.47212627 29.91694375 14.16636444 16.89931308 35.49384593 35.76655244]

<b>g) Generate model coefficients and intercept. <br>

In [43]:
m1=model2.coef_
c1=model2.intercept_
print('Coefficient or Slope:',m1)
print('Intercept or Constant:',c1)

Coefficient or Slope: [-7.24890731e+01  1.48990318e+11 -1.48990318e+11 -2.97980636e+11
  3.88192010e+00  1.87828489e-01  1.48239081e+01  1.36353254e-01]
Intercept or Constant: 103.63211805555555

<b>h) Generate predictions for Cooling load (y2) using the equation of Linear Regression<br>

In [44]:
df['ypred2_eqn']=df['X1']*m1[0]+df['X2']*m1[1]+df['X3']*m1[2]+df['X4']*m1[3]+df['X5']*m1[4]+df['X6']*m1[5]+df['X7']*m1[6]+df['X8']*m1[7]+c1
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2,ypred1_eqn,ypred2_eqn
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33,22.364064,25.341372
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33,22.431202,25.529200
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33,22.498340,25.717029
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33,22.565478,25.904857
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28,24.700001,27.665591

<b>i) Compute MSE,RMSE, MAE, R2_score for the model generated.

In [45]:
mse2=mean_squared_error(y2_test,ypred2)
mae2=mean_absolute_error(y2_test,ypred2)
rmse2=np.sqrt(mse2)
r2_2=r2_score(y2_test,ypred2)
print('mse',mse2)
print('mae',mae2)
print('rmse',rmse2)
print('r2_score',r2_2)
print('Model_Score',model2.score(x_test,y2_test))

mse 14.31015659539274
mae 2.6059589299827155
rmse 3.782876761856344
r2_score 0.8594096961303332
Model_Score 0.8594096961303332